code{
    background-color: #e6e6e6;
    padding: 3px;
    border-radius: 5px;
    color: #333333;
    font-size: 13px;
}#svg{
    fill: #fff;
    filter: invert();
    height: 15px;
    width: 15px;
}#test{
    vertical-align:middle;
    display:inline-block;
}.svgnorm{
    height: 15px;
    width: 15px;
    filter: invert(40%);
    vertical-align:middle;
}